body{
    background: #5F9EA0;
    font-family: Arial, sans-serif;
    text-color:
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:22%;
    padding: 10px;
    margin: 10px;
    padding:20px 10px;
    background:#F5FFFA;
    border-radius: 5px;
}

.assignment img{
    width: 200px;
    margin: 10px;
    border: 2px solid #FFF;
    display:block;
    margin:auto;

}
.assignment img:hover{
    border: 2px solid #778899;
}

h1 {
    color: #9400D3;
    text-align:center;
}

h2{
    text-align:center;
}

a {
    text-decoration: none;
    color:#778899;
}

a:hover{
    color:#FFF;
}